<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.hcl.servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.hcl.servlets.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcServlet</display-name>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>com.hcl.servlets.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/CalcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployShowServlet</display-name>
    <servlet-name>EmployShowServlet</servlet-name>
    <servlet-class>com.hcl.servlets.EmployShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployShowServlet</servlet-name>
    <url-pattern>/EmployShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentShowServlet</display-name>
    <servlet-name>DepartmentShowServlet</servlet-name>
    <servlet-class>com.hcl.servlets.DepartmentShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentShowServlet</servlet-name>
    <url-pattern>/DepartmentShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployInsertServlet</display-name>
    <servlet-name>EmployInsertServlet</servlet-name>
    <servlet-class>com.hcl.servlets.EmployInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployInsertServlet</servlet-name>
    <url-pattern>/EmployInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentInsertServlet</display-name>
    <servlet-name>DepartmentInsertServlet</servlet-name>
    <servlet-class>com.hcl.servlets.DepartmentInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentInsertServlet</servlet-name>
    <url-pattern>/DepartmentInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmploySearchServlet</display-name>
    <servlet-name>EmploySearchServlet</servlet-name>
    <servlet-class>com.hcl.servlets.EmploySearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmploySearchServlet</servlet-name>
    <url-pattern>/EmploySearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentSearchServlet</display-name>
    <servlet-name>DepartmentSearchServlet</servlet-name>
    <servlet-class>com.hcl.servlets.DepartmentSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentSearchServlet</servlet-name>
    <url-pattern>/DepartmentSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hcl.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>