<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankProject</display-name>
  <welcome-file-list>
    <welcome-file>menu.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAccountServlet</display-name>
    <servlet-name>SearchAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.SearchAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAccountServlet</servlet-name>
    <url-pattern>/SearchAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccountServlet</display-name>
    <servlet-name>CloseAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.CloseAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccountServlet</servlet-name>
    <url-pattern>/CloseAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositAccountServlet</display-name>
    <servlet-name>DepositAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.DepositAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositAccountServlet</servlet-name>
    <url-pattern>/DepositAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawAccountServlet</display-name>
    <servlet-name>WithdrawAccountServlet</servlet-name>
    <servlet-class>com.hcl.bank.WithdrawAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawAccountServlet</servlet-name>
    <url-pattern>/WithdrawAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>com.hcl.bank.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.hcl.bank.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAccount</display-name>
    <servlet-name>SearchAccount</servlet-name>
    <servlet-class>com.hcl.bank.SearchAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAccount</servlet-name>
    <url-pattern>/SearchAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccount</display-name>
    <servlet-name>UpdateAccount</servlet-name>
    <servlet-class>com.hcl.bank.UpdateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccount</servlet-name>
    <url-pattern>/UpdateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccount</display-name>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>com.hcl.bank.CloseAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/CloseAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositAccount</display-name>
    <servlet-name>DepositAccount</servlet-name>
    <servlet-class>com.hcl.bank.DepositAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositAccount</servlet-name>
    <url-pattern>/DepositAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawAmount</display-name>
    <servlet-name>WithdrawAmount</servlet-name>
    <servlet-class>com.hcl.bank.WithdrawAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawAmount</servlet-name>
    <url-pattern>/WithdrawAmount</url-pattern>
  </servlet-mapping>
</web-app>